<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Movie</title>
</head>
<body>
    <%- include('./_header.ejs') %> 
    <main>
        <% if (url=="favorite") { %>
            <h1>MYSHOWS</h1>
        <% } else if (url == 'popular') { %>
            
        <% } else { %>
             <h1>SEARCH: <%= word %> </h1>
        <% } %>
        <section class="movielist">
            <% movie.results.forEach(elt => { %>
                <div class="item">
                    <a href="/detail/<%= elt.id %>"></a>
                    <% if (elt.poster_path != null) { %>
                        <img src="https://image.tmdb.org/t/p/original/<%= elt.poster_path %> " alt="">
                    <% } else { %>
                         <img src="/noimage.png" alt="">
                    <% } %>
                    <% if ('title' in elt) { %>
                        <h2><%= elt.title %></h2>
                    <% } else { %>
                        <h2><%= elt.name %></h2>
                    <% } %>
                </div>
            <% }) %>
        </section>
        <section class="pagelist">
            <% let pageStart, pageEnd %>
            <% if( movie.page < 5 ){ %>
                <% pageStart = 1 %> 
                <% if (movie.total_pages < 9) { %>
                    <% pageEnd = movie.total_pages %> 
                <% } else { %>
                    <% pageEnd = 9 %> 
                <% } %>
            <% } else if( movie.page > movie.total_pages -4 ){ %>
                <% pageStart = movie.total_pages - 8 %> 
                <% pageEnd = movie.total_pages %> 
            <% } else { %>
                <% pageStart = movie.page - 4 %> 
                <% pageEnd = movie.page + 4 %> 
            <% } %> 
            <% if(movie.page > 1){ %>
                <a href="/<%= url %>/1" class="pagenum">&lt;&lt;</a>
                <a href="/<%= url %>/<%= movie.page - 1 %>" class="pagenum">&lt;</a>
            <% } %> 
            <% for( let i = pageStart ; i <= pageEnd; i++ ) { %>
                <% if(i == movie.page){ %>
                    <div class="pagenum activ"><%= i %></div>
                <% } else { %> 
                    <a href="/<%= url %>/<%= i %>" class="pagenum num"><%= i %></a>
                <% } %> 
            <% } %>
            <% if(movie.page != movie.total_pages && movie.total_pages != 0){ %>
                <a href="/<%= url %>/<%= movie.page + 1 %>" class="pagenum">&gt;</a>
                <a href="/<%= url %>/<%= movie.total_pages %>" class="pagenum">&gt;&gt;</a>
            <% } %> 
        </section>
    </main>
    <script src="/main.js"></script>
</body>
</html>
